<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

  <div class="modal-header">
    <h4 class="modal-title" id="myAttribute">Create or edit a Attribute</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group" [hidden]="!attribute.id">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" name="id" [(ngModel)]="attribute.id" readonly />
    </div>

    <div class="form-group">
      <label class="form-control-attribute" for="field_attribute_code">Code</label>
      <input type="text" class="form-control" name="attribute_code" id="field_attribute_code" [(ngModel)]="attribute.code"/>
    </div>

    <div class="form-group">
      <label class="form-control-attribute" for="field_attribute_name">Name</label>
      <input type="text" class="form-control" name="attribute_name" id="field_attribute_name" [(ngModel)]="attribute.name" required/>
      <div [hidden]="!(editForm.controls.attribute_name?.dirty && editForm.controls.attribute_name?.invalid)">
        <small class="form-text text-danger" [hidden]="!editForm.controls.attribute_name?.errors?.required">
          The attribute name is required.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-attribute" for="field_attribute_external_id">External Id</label>
      <input type="text" class="form-control" name="attribute_external_id" id="field_attribute_external_id" [(ngModel)]="attribute.externalId"/>
    </div>

    <div class="form-group">
      <label class="form-control-attribute" for="field_attribute_type">Type</label>
      <select class="form-control" name="attribute_type" id="field_attribute_type" [(ngModel)]="attribute.type" required>
        <option [ngValue]="undefined">Please select a attribute type</option>
        <option *ngFor="let attributeType of attributeTypes" [value]="attributeType">
          {{attributeType}}
        </option>
      </select>
      <div [hidden]="!(editForm.controls.attribute_type?.dirty && editForm.controls.attribute_type?.invalid)">
        <small class="form-text text-danger" [hidden]="!editForm.controls.attribute_type?.errors?.required">
          The attribute type is required.
        </small>
      </div>
    </div>

    <div class="form-group table-responsive">
      <label class="form-control-category">Attribute values</label>
      <table class="table table-striped">
        <thead>
        <tr>
          <th><span>ID</span></th>
          <th><span>Code</span></th>
          <th><span>Value</span></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attributeValue of attribute.values;trackBy: id">
          <td>{{attributeValue.id}}</td>
          <td>{{attributeValue.code}}</td>
          <td>{{attributeValue.value}}</td>
          <td class="text-right">
            <div class="btn-group flex-btn-group-container">
              <button (click)="removeAttributeValue(attributeValue)" class="btn btn-danger btn-sm">
                <span class="fa fa-remove"></span>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <input type="text" class="form-control" placeholder="Search an attribute value" matInput [formControl]="attributeValueControl">

      <select [compareWith]="compareAttributeValue" [(ngModel)] ="selectedAttributeValue" name="selectedAttributeValue">
        <option *ngFor="let filteredAttributeValue of filteredAttributeValues | async" [ngValue]="filteredAttributeValue">
          {{filteredAttributeValue.code}} - {{filteredAttributeValue.value}}
        </option>
      </select>

      <button type="button" (click)="addAttributeValue()">ADD</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
      <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
    </button>
    <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
      <span class="fa fa-save"></span>&nbsp;<span>Save</span>
    </button>
  </div>
</form>
