<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

  <div class="modal-header">
    <h4 class="modal-title" id="myAttribute">Create or edit a Attribute</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group" [hidden]="!attribute.id">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" name="id" [(ngModel)]="attribute.id" readonly />
    </div>

    <div class="form-group">
      <label class="form-control-attribute" for="field_attribute_code">Code</label>
      <input type="text" class="form-control" name="attribute_code" id="field_attribute_code" [(ngModel)]="attribute.code"/>
    </div>

    <div class="form-group">
      <label class="form-control-attribute" for="field_attribute_name">Name</label>
      <input type="text" class="form-control" name="attribute_name" id="field_attribute_name" [(ngModel)]="attribute.name" required/>
      <div [hidden]="!(editForm.controls.attribute_name?.dirty && editForm.controls.attribute_name?.invalid)">
        <small class="form-text text-danger" [hidden]="!editForm.controls.attribute_name?.errors?.required">
          The attribute name is required.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-attribute" for="field_attribute_type">Type</label>
      <select class="form-control" name="attribute_type" id="field_attribute_type" [(ngModel)]="attribute.type" required>
        <option [ngValue]="undefined">Please select a attribute type</option>
        <option *ngFor="let attributeType of attributeTypes" [value]="attributeType">
          {{attributeType}}
        </option>
      </select>
      <div [hidden]="!(editForm.controls.attribute_type?.dirty && editForm.controls.attribute_type?.invalid)">
        <small class="form-text text-danger" [hidden]="!editForm.controls.attribute_type?.errors?.required">
          The attribute type is required.
        </small>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
      <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
    </button>
    <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
      <span class="fa fa-save"></span>&nbsp;<span>Save</span>
    </button>
  </div>
</form>
