<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

  <h4 id="myImpexBuilder">Generate tree for universe</h4>

  <jhi-alert-error></jhi-alert-error>

  <div class="form-group">
    <label class="form-control-category" for="field_category">Category</label>
    <select class="form-control" name="category" id="field_category" [(ngModel)]="universeCategoryId" required>
      <option [ngValue]="undefined">Please select a category</option>
      <option *ngFor="let category of universeCategories" [value]="category.id">
        {{category.code}} - {{category.name}}
      </option>
    </select>
  </div>

  <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
    <span class="fa fa-save"></span>&nbsp;<span>Generate</span>
  </button>
</form>

<div>
  <tree-root [nodes]="nodes" [options]="options"></tree-root>
</div>

